Language: Proto
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1  # Buf uses 1 space before comments
SpaceBeforeAssignmentOperators: true
SpaceAfterCCommentStart: true
BreakBeforeBraces: Attach
ReflowComments: true
SortIncludes: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Left
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
